.form-card {
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-logo {
  width: 30%;
}

.form-el {
  width: 40%;
  min-height: 50vh;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trend-login-card {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.trend-login-logo {
  width: 50%;
  margin-bottom: 50px;
}

.user-label {
  width: 60%;
  font-family: 'Roboto';
  color: #475569;
  font-weight: 500;
  margin-bottom: 10px;
}

.user-input {
  width: 60%;
  height: 30px;
  background-color: #d7dfe9;
  border: 2px solid #d7dfe9;
  border-radius: 4px;
  font-family: 'Roboto';
  color: #64748b;
  font-weight: 500;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}

.password-label {
  width: 60%;
  font-family: 'Roboto';
  color: #475569;
  font-weight: 500;
  margin-bottom: 10px;
}

.password-input {
  width: 60%;
  height: 30px;
  background-color: #d7dfe9;
  border: 2px solid #d7dfe9;
  border-radius: 4px;
  font-family: 'Roboto';
  color: #64748b;
  font-weight: 500;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}

.button-card {
  width: 60%;
}
.login-button {
  height: 30px;
  width: 100%;
  background-color: #0b69ff;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.error-msg {
  width: 60%;
  font-family: 'Roboto';
  color: #ff0b37;
  font-weight: 500;
}

@media (max-width: 767px) {
  .form-card {
    justify-content: center;
  }

  .login-logo {
    width: 90%;
    margin-bottom: 15px;
  }

  .form-el {
    width: 90%;
    height: 100%;
    box-shadow: none;
    border-radius: 0px;
  }

  .trend-login-card {
    width: 90%;
    flex-direction: column;
  }

  .user-label {
    width: 90%;
    font-size: 14px;
  }

  .user-input {
    width: 90%;
    font-size: 14px;
  }

  .password-label {
    width: 90%;
    font-size: 14px;
  }

  .password-input {
    width: 90%;
    font-size: 14px;
  }

  .button-card {
    width: 90%;
  }
  .login-button {
    font-size: 12px;
  }
  .error-msg {
    width: 90%;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .user-label {
    font-size: 16px;
  }

  .user-input {
    font-size: 15px;
  }

  .password-label {
    font-size: 15px;
  }

  .password-input {
    font-size: 15px;
  }

  .login-button {
    font-size: 14px;
  }
  .error-msg {
    font-size: 14px;
  }
}
